doctype html
html(lang="en")
  head
    script(src="/view/jquery.min.js")
    script(src="/view/hmac-sha512.js")
    script(src="/view/login.js")
    link(href="/view/general.css" type="text/css" rel="stylesheet")
    title Bank
  body
    .content
      label(for="username") Username:
      input#username(type="text")
      label(for="password") Password:
      input#password(type="password")
      button#submit-button Login
      button#connect Create Connection
      input#text(type="text" onclick="createSock")